@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@






<nav class="navbar navbar-expand-lg navbar-light bg-white sticky" data-offset="500">
    <div class="container">
        <a href="#" class="navbar-brand">Seo<span class="text-primary">Gram.</span></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>





        @{
            var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray();
        }

        @if (selection.Length > 0)
        {
            <div class="navbar-collapse collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto">


                    <li class="nav-item active ">
                        <a class="nav-link" href="@Model.Root().Url()">Home Page</a>
                    </li>
                    @foreach (var item in selection)
                    {

                        <li class="nav-item active @(item.IsAncestorOrSelf(Model) ? "current" : null)">
                            <a class="nav-link" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                        </li>

                    }
                    <li class="nav-item">
                        <a class="btn btn-primary ml-lg-2" href="#">Free Analytics</a>
                    </li>
                </ul>
            </div>
        }




    </div>
</nav>